<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img" style="width:100%">
        <h3>GS-STARTER</h3>
      </div>

    </a>
  </div>
  <ul class="nav">
   <!-- <ng-content></ng-content>-->
  
      <li>
        <a routerLink="especes">
          <i class="ti-receipt"></i>
          <p>Gestion des espèces</p>
        </a>
      </li>
  
      
      <li>
        <a routerLink="parcelles">
          <i class="ti-blackboard"></i>
          <p>Gestion des Plants</p>
        </a>
      </li>

          
      <li>
        <a routerLink="parcelletests">
          <i class="ti-blackboard"></i>
          <p>Test de parcelle</p>
        </a>
      </li>

      <li>
          <a routerLink="users">
            <i class="ti-blackboard"></i>
            <p>Gestion des Utilisateurs</p>
          </a>
        </li>
        <li>
            <a routerLink="groups">
              <i class="ti-blackboard"></i>
              <p>Gestion des Groupes</p>
            </a>
          </li>

  


  </ul>
</div>