<nav ngxNavbarDynamicExpand class="navbar-light bg-light">
    <a class="navbar-brand" href="#">{{title}}</a>

    <button class="navbar-toggler" type="button" (click)="collapse.toggle()" aria-controls="main-nav" aria-expanded="false"
        aria-label="Navigáció kapcsoló">
        <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
            <i class="fas fa-bars text-white"></i>
        </span>
    </button>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
        <ul class="navbar-nav mr-auto">

            <ng-content></ng-content>
            
        </ul>
    </ngx-navbar-collapse>
</nav>