<ol class="breadcrumb ">
  <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
  <li class="breadcrumb-item active">
    Liste des espèces
  </li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">
      Liste des espèces
    </h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="espece" #editForm="ngForm" (ngSubmit)="save()">
      
      <div class="form-group">



        






        



        <label >
          Id</label>


        {{
        espece.
        _id|| 'n/a'}}
        
        

        

      </div>


      
      <div class="form-group">



        






        



        <label for="
          name"
          >
          Nom de l'espèce</label>


        
        <input [(ngModel)]="espece.name" id="name"
          name="name" class="form-control">
        

        

      </div>


      
      <div class="form-group">



        






        



        <label for="
          description"
          >
          Description de l'espèce</label>


        
        <input [(ngModel)]="espece.description" id="description"
          name="description" class="form-control">
        

        

      </div>


      

      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Enregistrer</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Annuler</button>
    </form>
  </div>
</div>