
<div class="card bg-primary">
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf=" user_group" #editForm="ngForm" (ngSubmit)="actionUpdate()">
      
      
      
      <div class="form-group">
        <mat-form-field class="gs-mat-field" fxFlex="100">
          
          <input matInput class="form-control" placeholder="Id" name="Id"
                 type="text"  [(ngModel)]="user_group._id">
          
        </mat-form-field>
      </div>
      
      
      
      
      <div class="form-group">
          <label>
            Statut</label>
          <mat-radio-group [(ngModel)]=" user_group.statut" name="statut">
            <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="25">
              
              <div>
                <mat-radio-button [value]=true fxFlex>
                Actif
              </mat-radio-button>
            </div>
            
              <div>
                <mat-radio-button [value]=false fxFlex>
                Inactif
              </mat-radio-button>
            </div>
            
          </div>
        </mat-radio-group>
      </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Enregistrer</button>

    </form>
  </div>
</div>
