<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
  <li class="breadcrumb-item active">
     Groupes
  </li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">
        <span *ngIf="!group._id">Création d'un group</span>
        <span *ngIf="group._id">group</span>
    </h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="group" #editForm="ngForm" (ngSubmit)="save()">
      
      
      
            <div class="form-group">
                <mat-form-field class="gs-mat-field" fxFlex="100">
                    
                  <input matInput class="form-control" placeholder="Id" name="Id"
                    type="text"  [(ngModel)]="group._id">
                     
          </mat-form-field>
          </div>
            
      
      
            <div class="form-group">
                <mat-form-field class="gs-mat-field" fxFlex="100">
                    
                  <input matInput class="form-control" placeholder="nom" name="Name"
                    type="text"  [(ngModel)]="group.name">
                     
          </mat-form-field>
          </div>
            
      
      
            <div class="form-group">
                <mat-form-field class="gs-mat-field" fxFlex="100">
                    
                  <input matInput class="form-control" placeholder="Description" name="Description"
                    type="text"  [(ngModel)]="group.description">
                     
          </mat-form-field>
          </div>
            
      
      
      
            
              <div class="form-group">
            <mat-form-field class="gs-mat-field" fxFlex="100">
                <mat-label>Statut</mat-label>
                <mat-select [(value)]="group.statut">
                  
                  <mat-option value=true> Actif</mat-option>
                  
                  <mat-option value=false> Inactif</mat-option>
                  
</mat-select>
              </mat-form-field>
            </div>
           
            <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Enregistrer</button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">Annuler</button>
    </form>
  </div>
</div>
